## Copia este archivo como local.properties (Android Studio lo crea solo al abrir el proyecto)
## Cambia la ruta a donde tengas el Android SDK en tu PC.
sdk.dir=C\:\\Users\\TU_USUARIO\\AppData\\Local\\Android\\Sdk
