/node_modules
/vendor
.git
.gitignore
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.cache
tests
apppasajero
appconductor
mariadb-portable
../mariadb-portable
../APKs
../INICIAR-TAXPIYA.ps1
../LEEME.txt
firebase-debug.log
.firebase
